* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    height: 100vh;
    padding-bottom: 100px;
    padding-top: auto;
    /*background-image:url("inq22.gif");
    background-size: cover;*/
    display: grid;
    place-content: center;
    /*background: black;*/
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-content: center;
    align-items: center;
    /*background-color: black;*/
   
  }
  
  .box {
    position: relative;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background: linear-gradient(45deg, orange, yellow),
      linear-gradient(#26262600, #14141400);
    animation: rotate 1.5s linear infinite;
  }
  
  .box:before,
  .box:after {
    content: " ";
    position: absolute;
    inset: 8px;
    border-radius: inherit;
  }

  
  .box:before {
    background: linear-gradient(45deg, transparent, transparent 40%, yellow);
    filter: blur(40px);
  }
  
  @keyframes rotate {
    100% {
      transform: rotate(360deg);
      filter: hue-rotate(360deg);
    }
  }
  @font-face {
    font-family: origami;
    src: url(Origami.ttf);
  }
 .inq
{
        width: 512px;
        height: auto;
        display: flex;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 500px;
        width: 50%;
}
.inqq
{
        /*background-image: url("black.jpeg");*/
        background-color: black;
        color: #000;;
        opacity: .90;
        position: fixed;
        width: 290px;
        height: 290px;
        border-radius: 50%;
      
        
}

.cs2
{
        font-family: origami;
        color: white;
        font-size: 18px;
        position:fixed;
        padding-top: 480px;        
}
.cs1
{
        font-family: origami;
        color: white;
        font-size: 50px;
        position:fixed;
        padding-top: 400px;        
}
.ics
{

        position:fixed;    
        opacity: .95;
        width: 400px;  
        z-index: 2;
}
html {
  background: black;
  overflow: hidden;
}

.grid {
  margin: 0 auto;
  position: fixed;
  bottom: 0;
  left: -50%;
  background-color: rgba(20 30 40 0.4);
  background-image: linear-gradient(90deg, transparent 0%, transparent 85%, red 90%, transparent 95%), linear-gradient(0deg, transparent 0%, transparent 85%, green 90%, transparent 95%);
  background-size: 12px 12px;
  width: 200vw;
  height: 60vh;
  transform: translate3D(0, 0, 0) perspective(150px) rotateX(45deg) ;
  perspective-origin: top;
  
  animation-name: movement;
  animation-duration: 7s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.grid:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, transparent, black);
}

@keyframes movement {
  0% {background-position: 0% 0%;}
  100% {background-position: 0% 100%;}
}
  
.inq:hover
 {
    
 }
 
 